.header, .header2 {
    font-size: 1.3rem;
}

.header2 {
    padding-bottom: 1rem;
}

.set-team-msg {
    padding-top: 0.5rem;
    font-size: 1.7rem;
    color: rgba(255, 255, 255, .3);
    font-weight: bold;
    text-align: center;
}

.transfer-suggestions, .team, .team-score {
    background-color: #2b2b2b;
    border: 1px solid #444;
    padding: 15px;
    margin-bottom: 0.6rem;
    border-radius: 10px;
}

.analytics-player-list {
    flex-grow: 1;
    max-height: 32.2vw;
    overflow-y: auto;
    padding-right: 10px; 
}

.page-two-team {
    max-height: 40.2vw;
    min-height: 40.2vw;
}

.analytics-player-list::-webkit-scrollbar {
    width: 8px;
  }
  
.analytics-player-list::-webkit-scrollbar-thumb {
  background-color: #444;
  border-radius: 5px;
  transition: background-color 0.1s ease;
}

.analytics-player-list::-webkit-scrollbar-track {
  background-color: #1e1e1e;
}

.analytics-player-list::-webkit-scrollbar-thumb:hover {
  background-color: #888; 
}

.analytics-player-list > div {
    cursor: pointer;
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.1s, box-shadow 0.1s;
    white-space: nowrap;
    overflow: hidden;
    display: flex;
}

.analytics-player-list > div:hover {
    background-color: #888;
    box-shadow: 0 0 4px #888; 
}

.player-xpts {
    margin-left: auto;
}

.transfer-info, .transfer-info2 {
    font-size: 1rem;
}

.transfer-info {
    padding-left: 0.7rem;
}

.budget-input {
    max-width: 1.5rem;
    text-align: center;
    border-radius: 5px;
}

.transfer-input {
    max-width: 1.5rem;
    text-align: center;
    border-radius: 5px;
}

.transfer-input-container {
    padding-left: 1.1rem;
    padding-right: 1.35rem;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.increment-btn {
    background: linear-gradient(90deg, #ffcf81, #f39c12);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.1s ease, color 0.1s ease;
}

.get-transfers-btn {
    width: 5.7vw;
    height: 1.8vw;
    min-width: 110px;
    min-height: 30px;
    color: #1e1e1e;
    background: linear-gradient(90deg, #ffcf81, #f39c12);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.1s ease, color 0.1s ease;
    font-weight: bold;
    font-size: 0.9rem;
}

.get-transfers-btn:disabled {
    background: #787878;
    color: #1e1e1e;
    cursor: not-allowed;
    pointer-events: none;
}

.info-container {
    padding-bottom: 0.1rem;
}

.info-container2 {
    padding-bottom: 1rem;
}

.transfer-out {
    background-color: rgb(255, 114, 114);
    border: 0.2vw solid rgb(255, 57, 57);
}

.transfer-out span:not(:empty) + span {
    border-top: 1px solid rgb(255, 57, 57);
    padding-top: 1px;
    width: 100%; 
}

.transfer-out:hover {
    background-color: rgb(255, 186, 186); 
    box-shadow: 0 0 10px 2px rgb(255, 57, 57);
}

.transfer-in {
    background-color: rgb(122, 238, 107);
    border: 0.2vw solid rgb(31, 156, 14);
}

.transfer-in span:not(:empty) + span {
    border-top: 1px solid rgb(31, 156, 14);
    padding-top: 1px;
    width: 100%; 
}

.transfer-in:hover {
    background-color: rgb(207, 255, 200); 
    box-shadow: 0 0 10px 2px rgb(31, 156, 14);
}

.transfer {
    background-color: #3a3a3a;
    border: 1px solid #555;
    padding: 15px;
    margin-bottom: 0.6rem;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
}

.transfer-body {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.transfer-index {
    font-size: 1.2rem;
    padding-bottom: 1rem;
}

.transfer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.transfer-score {
    font-size: 1rem;
    padding-top: 0.5rem;
}

.switch-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.switch-icon {
    font-size: 1.5rem;
}

.transfer-list {
    flex-grow: 1;
    max-height: 32.2vw;
    min-height: 32.2vw;
    overflow-y: auto;
    padding-right: 10px; 
}

.transfer-list::-webkit-scrollbar {
    width: 8px;
  }
  
.transfer-list::-webkit-scrollbar-thumb {
  background-color: #444;
  border-radius: 5px;
  transition: background-color 0.1s ease;
}

.transfer-list::-webkit-scrollbar-track {
  background-color: #1e1e1e;
}

.transfer-list::-webkit-scrollbar-thumb:hover {
  background-color: #888; 
}

.page-btn-container {
    display: flex;
    justify-content: space-around;
    padding-top: 0.75rem;
    padding-bottom: 0.25rem;
}

.transfers, .loading-container {
    margin-top: 2rem;
}

.page-button {
    background-color: #121212;
    border: none;
    color: #777; 
    padding: 0.35rem 0.75rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 50%; 
    transition: background-color 0.1s; 
}

.page-button:hover {
    background-color: #989898; 
}
  
.page-button span {
    font-weight: bold; 
    font-family: monospace;
}

.page-button:disabled {
    background-color: #202020;
    color: #333;
}

.page-button:disabled:hover {
    background-color: #202020;
}

.accept-btn-container {
    margin-top: 1vw;
}

.accept-btn {
    width: 5vw;
    height: 2vw;
    min-width: 60px;
    min-height: 15px;
    max-height: 30px;
    color: #1e1e1e;
    background: linear-gradient(90deg, #ffcf81, #f39c12);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.1s ease, color 0.1s ease;
    font-weight: bold;
    font-size: 0.9rem;
}

.hidden {
    visibility: hidden;
}