.App > h1 {
  text-align: center;
}

.columns {
  display: flex;
}

.left-column {
  width: 30%;
  padding: 20px;
  padding-top: 0px;
  border-right: 1px solid #ccc;
}

.left-column > h2 {
  text-align: center;
}

.middle-column {
  width: 40%;
  padding: 20px;
  padding-top: 0px;
}

.middle-column > h2 {
  text-align: center;
}

.right-column {
  width: 30%;
  padding: 20px;
  padding-top: 0px;
  border-left: 1px solid #ccc;
}

.right-column > h2 {
  text-align: center;
}

.App > p {
  font-size: medium;
  text-align: center;
  padding-bottom: 1vw;
}