/* frontend/src/styles/TeamFormation.css */
.formation {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../../public/images/soccer-field.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 33vw;
  }

  .header { /* Styles for the header div */
    display: flex;
    flex-direction: column;
  }

  .title { /* Styles for the title div */
    text-align: center; /* Center the h2 within the title div */
  }

  .budget-container { /* Styles for the container */
    display: flex;
    justify-content: space-between;
    padding-right: 5%;
    padding-bottom: 2%;
  }
  
  .budget { /* Styles for the budget text */
    font-weight: normal; /* Make it non-bolded */
    font-size: large;
    padding-left: 5%;
  }

  .clear-button {
    align-items: center;
    width: 15%;
    min-width: 50px;
  }

  .player-row:first-child {
    margin-top: 40px;
  }
  
  .player-row {
    display: flex;
    gap: 10px;
    margin-bottom: 10px; 
  }
  
  .player-row:last-child { /* Target the last row (substitutes) */
    margin-top: 30px; /* Add a bigger gap above the substitutes */
  }
  
  .player-slot {
    width: 5vw;
    height: 5vw;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    background-color: white;
    font-size: 0.9vw;
  }
  
  .player-row:last-child .player-slot { 
    background-color: rgb(175, 175, 175);
  }