.formation {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('../images/soccer-field.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 48vw;
}

.title {
  text-align: center; 
  color: white;
  background: linear-gradient(90deg, #ff8800, #61ff4c);
  -webkit-background-clip: text;
  background-clip: none;
  -webkit-text-fill-color: transparent;
  font-size: 1.2rem;
}

.team-formation-container {
  background-color: #2b2b2b;
  border: 1px solid #444;
  padding: 15px;
  border-radius: 10px;
}

.budget-container { 
  display: flex;
  justify-content: space-between;
  padding-right: 0%;
  padding-bottom: 2%;
}

.budget { 
  align-content: space-around;
  font-weight: normal; 
  font-size:x-large;
  padding-left: 0%;
}

.buttons-container { 
  display: flex;
  gap: 0.5vw; 
  margin-left: auto; 
}

.clear-button {
  align-items: center;
  width: 5vw;
  height: 2.2vw;
  min-width: 50px;
  min-height: 30px;
  background: linear-gradient(90deg, #f39c12, #be7500);
  color: #1e1e1e;
  border: 5px;
  border-color: white;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.1s ease, color 0.1s ease;
}

.edit-team-button, .set-team-button {
  align-items: end;
  width: 3vw;
  height: 2.2vw;
  min-width: 115px;
  min-height: 30px;
  background: linear-gradient(90deg, #ffcf81, #f39c12);
  color: #1e1e1e;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.1s ease, color 0.1s ease;
}

.orange-hover:hover {
  background: linear-gradient(90deg, #ffa467, #d35400);
  box-shadow: 0 0 4px 0px #ffa467;
}

.player-row:first-child {
  margin-top: 3vw;
}

.player-row {
  display: flex;
  gap: 1.3vw;
  margin-bottom: 1vw; 
}

.player-row:last-child { 
  margin-top: 1.7vw; 
}

.middle-column:not(.pick-team-mode) .player-row:last-child {
  margin-top: 0px; 
}

.player-slot {
  width: 5vw;
  height: 6.5vw;
  border: 0.2vw solid #ed9f22;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: black;
  justify-content: space-between;
  padding-top: 0.2vw;
  padding-bottom: 0.1vw;
  cursor: pointer;
  background-color: #ffc567;
  font-size: 0.9vw;
  opacity: 1;
  transition: background-color 0.1s, border-color 0.1s, box-shadow 0.1s;
}

.player-slot:hover {
  background-color: #ffe8c4; 
  box-shadow: 0 0 10px 2px #ffa467;
}

.highlight {
  transition: background-color 0.3s, border-color 0.3s, box-shadow 0.3s, ease;
  background-color: #ffe8c4; 
  box-shadow: 0 0 10px 2px #ffa467;
}

.player-slot.disabled:hover {
  background-color: white; 
  cursor: not-allowed; 
}

.player-slot.eligible:hover {
  background-color: #ffe8c4; 
}

.sub-icon {
  position: absolute;
  left: 0.15vw;
  width: 1vw; 
  height: 1vw;
  cursor: pointer;
}

.remove-icon {
  position: absolute;
  left: 0.15vw;
  width: 1vw; 
  height: 1vw;
  cursor: pointer;
}

.player-slot.active { 
  border-color: rgb(255, 115, 0); 
  box-shadow: 0 0 10px 2px #ffa467;
}

.player-slot.eligible { 
  opacity: 1;
}

.player-slot.disabled {
  opacity: 0.5;
  pointer-events: none; 
}

.responsive-popup {
  max-width: 90vw;
  overflow: hidden;
}

.responsive-popup div p {
  margin: 0;
}

.player-team {
  font-size: 0.6vw;
}

.player-slot span:not(:empty) + span {
  border-top: 1px solid #ed9f22;
  padding-top: 1px;
  width: 100%; 
}

.player-price {
  font-size: 0.7vw;
  flex-grow: 1; 
  text-align: center;
}

.player-slot-top {
  display: flex;
  justify-content: center;
  align-items: center; 
  position: relative;
  width: 100%; 
}

.substitutes-row {
  background-color: rgba(48, 48, 48, 0.68);
  border: 0.2vw solid #cccccc48;
  padding: 1vw; 
  padding-left: 4vw;
  padding-right: 4vw;
  border-radius: 10px; 
}

.player-jersey {
  width: 4vw;
}

.player-name {
  font-size: 0.8vw;
  white-space: nowrap; 
  overflow: hidden;     
  text-overflow: ellipsis; 
  max-width: 100%;    
  display: block;       
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.search-icon {
  fill: #9e9ea7;
  width: 1.5rem;
  height: 1.5rem;
}

.tab {
  margin-top: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #2b2b2b;
  padding: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.1s;
}

.invisible {
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.5rem;
}

.tab:hover {
  background-color: #4c4c4c;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background-color: #2b2b2b;
  padding: 20px;
  border-radius: 8px;
  width: 50%;
  max-width: 800px;
  max-height: 80%;
  position: relative;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  overflow-y: auto;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  color: white;
  transition: color 0.1s;
}

.close-btn:hover {
  color: #ff0000;
}

.search-input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.primary-btn {
  padding: 10px 15px;
  background: linear-gradient(90deg, #3b9aff, #0058b6);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.1s;
}

.primary-btn:hover {
  background: linear-gradient(90deg, #3186dc, #034ab5);
  box-shadow: 0 0 3px #007bff; 
}

.search-container {
  display: flex;
  gap: 10px;
  width: 80%;
  padding-bottom: 2rem;
  margin-top: 1rem;
}

.tf-loading {
  margin-top: 0;
  padding-bottom: 2rem;
}

.manager-list {
  margin-bottom: 3px;
  width: 20vw;
}

.managers-container {
  display: flex;
}

.load-btn {
  padding: 0px 15px;
  max-height: 2.2vw;
}

.search-results-for {
  margin-bottom: 1rem;
}

.search-results-container {
  width: 76%;
  background-color: #3a3a3a;
  border: 1px solid #555;
  padding: 15px;
  margin-bottom: 0.6rem;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
}